@import "common.css";

:root {
  --light-bg-primary: #FDFDFD;
  --light-bg-secondary: #F0EFEF;
}

.home {
  background-image: url("./../light-bg.jpg");
}

#naturrikaLeafLogoImage {
  content: url("./../brand/leaf_logo_black.png");
}

#naturrikaTextLogoImage {
  content: url("./../brand/naturrika_black.png");
}

.nav div.nav_list ul li a {
  color: black;
}

.nav div.nav_list ul li a:hover {
  color: red;
}

.affix {
  padding: 0;
  background-color: var(--light-bg-primary);
}
