@import "nav.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background-color: var(--bg-primary-color);
  color: var(--primary-text-color);
  transition: color 0.5s ease, background-color 0.5s ease;
}

.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-position: center top;
  background-size: cover;
  background-image: var(--home-bg-image-url);
  z-index: 0;
}

.overlay-text {
  position: absolute;
  width: 100%;
  top: 36%;
  background: var(--home-slogan-overlay);
  z-index: 1;
}

.slogan-text {
  text-align: center;
  color: var(--primary-text-color);
  font-family: 'Merriweather', serif;
  font-size: 3em;
  padding: 2% 2%;
}
