.nav {
  width: 100%;
  height: 64px;
  line-height: 64px;
  text-align: center;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 8;
}

.affix {
  padding: 0;
  background-color: var(--bg-primary-color);
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 4rem;
}

#naturrikaLeafLogoImage {
  height: 36px;
  padding-right: 1.5rem;
  content: var(--naturrik-leaf-logo-url);
}

#naturrikaTextLogoImage {
  height: 36px;
  content: var(--naturrika-text-logo-url);
}

.color-scheme-toggle {
  float: right;
  padding-top: 1.5rem;
  text-decoration: none;
  color: var(--text-secondary-color);
}

.color-scheme-toggle:hover, 
.color-scheme-toggle:focus {
  text-decoration: none;
  color: var(--text-on-hover-color);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1rem;
  }

  #naturrikaLeafLogoImage {
    height: 24px;
    padding-right: 1rem;
    content: var(--naturrik-leaf-logo-url);
  }
  
  #naturrikaTextLogoImage {
    height: 24px;
    content: var(--naturrika-text-logo-url);
  }

}